@import '../../scss/vars';

.subscribe {
    background-color: rgb(20, 108, 163);
    padding: 3rem 0;
    color:$light-color;

    &__subtitle {
        color:$light-color;
    }

    &__form {
        margin-top: 1rem;
    }

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__input {
        background-color:$white-color;
        border:none;
        outline: none;
        font-size: 2.4rem;border-radius: 0.4rem;
        padding: 0.5rem 1.2rem;
        margin: 2rem 2rem 1rem 0;


    }

    &__submit {
        font-size: 2.4rem;
        
    }
}