@import '../../../scss/vars';

.sidebar {
    flex-basis: 14%;
    height: 100%;
    overflow: hidden;
    color: $white-color;
    font-size: $normal-font-size;
    background-image: linear-gradient(to bottom, #146ca3, #16618f, #19567c, #1c4c69, #1e4157);

    &__top {
        display: flex;
        height: $nav-height;
        align-items: center;
        justify-content:center;
        padding: 0 1rem;
        width: 100%;
        border-bottom: 1px solid $border-admin-color;        
    }

    &__logo {
        width: 30px;
        margin-right: 1rem;
    }

    &__title {
        font-family: $secondary-font;
        font-size: inherit;
    }

    &__username {
        margin-left: auto;
        color: $light-color;
        font-size: inherit;
    }

    &__link {
        color: $white-color;
        display: flex;
        justify-content: flex-start;
        align-items: center;      
        padding: 1.5rem 0 1.5rem 2rem;       
        width: 100%;
        margin: auto;
        border-bottom: 1px solid $border-admin-color; 

        &:hover {
            background-image: radial-gradient(circle, #3484b5, #2d7eb1, #2578ac, #1d72a8, #146ca3);
        }
    }

    & a.active {
        background-image: radial-gradient(circle, #3484b5, #2d7eb1, #2578ac, #1d72a8, #146ca3);
    }

    &__icon {
        width: 2.5rem;
        margin-right: 1rem;
    }
}
