@import '../../../scss/vars';

.sidebar {
    flex-basis: 14%;
    height: 100%;
    overflow: hidden;
    color: $white-color;
    background-image: linear-gradient(to bottom, #146ca3, #16618f, #19567c, #1c4c69, #1e4157);
    font-size: $normal-font-size;

    &__top {
        display: flex;
        height: $nav-height;
        align-items: center;
        justify-content:center;
        padding: 0 1rem;
        width: 100%;
        border-bottom: 1px solid rgb(255 255 255 / .4);        
    }

    &__logo {
        width: 30px;
        margin-right: 1rem;
    }

    &__title {
        font-family: $secondary-font;
        font-size: inherit;
    }

    &__username {
        margin-left: auto;
        color: $light-color;
        font-size: inherit;
    }

    &__link {
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5rem 0 0.5rem 2rem;
        border-radius: 0.8rem;
        width: 95%;
        margin: auto;

        &:hover,
        &.active {
            -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.67);
            box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.27);
        }

        &:not(:first-child) {
            margin-top: 1rem;
        }
    }

    &__icon {
        width: 2.5rem;
        margin-right: 1rem;
    }


}