@import '../../scss/vars';
@import '../../scss/mixins';

.adventures {
    text-align: center;

    &__btns {
        display: flex;
        // justify-content: center;
        align-items: center;

        &-item {
            border: 1px solid $light-color;
            padding: 0.8rem 1.5rem;
            cursor: pointer;
            transition: .2s ease-in-out;
            font-size: calc($h3-font-size * 0.8);
            font-family: $secondary-font;
            border-radius: 0.8rem;

            &:not(:last-child) {
                margin-right: 2rem;
            }

            &:hover,
            &.active {
                transform: translateY(-3px);
                @include btn-shadow;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        overflow: hidden;
        position: relative;

        &-item {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(100%);
            transition: all ease-in-out .4s;

            &:first-child {
                margin-bottom: 1rem;
                position: relative;
            }

            &.active {
                transform: translateY(0%);
            }
        }

        & a {
            color: inherit;
        }

        &-inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            overflow-y: hidden;


            &-item {
                font-family: $primary-font;
                font-size: calc($h3-font-size * 0.8);
                border: 1px solid $light-color;
                padding: 0 1rem 0 0;
                flex-basis: 32%;
                margin-bottom: 1rem;
                max-height: 78px;

                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-top: 1.5rem;
                border-radius: 0.8rem;
                cursor: pointer;

                &:hover {
                    @include btn-shadow;
                }
            }
        }

        &-img {
            min-width: 150px;
            max-height: 78px;
            object-fit: cover;
            margin-right: 2rem;
            border-radius: 0.8rem;
        }
    }

    @media screen and (max-width:1024px) {
        &__content {
            &-inner-item {
                flex-basis: 48%;
            }
        }
    }

    @media screen and (max-width:920px) {
        &__btns {
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x mandatory; 

            &-item {                  
                justify-content: normal;
                flex-shrink: 0;
                scroll-snap-align: start;
                margin-top: 0.5rem;
               
            }
        }
    }

    @media screen and (max-width:768px) {
        &__content {
            &-inner-item {
                flex-basis: 100%;
            }

            &-img {               
                margin-right: 1rem;
            }
        }
    }
    @media screen and (max-width:420px) {      
        &__content {
            &-inner-item {
                flex-basis: 100%;
            }
        }
    }
}