@import '../../../scss/vars';

.destinations {
    &__list-actions {
        display: flex;
        align-items: center;

        & li:not(:last-child) {
            margin-right: 2rem;
        }
    }
}

