@import '../../scss/vars';

.dropDownNav {
    padding: 1rem 1rem 0 1rem;
    
    &-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        color: inherit;
        font-family: $secondary-font;
        font-weight: 300;
        font-size: $normal-font-size;
        letter-spacing: 0.1rem;
        text-transform: capitalize;
        cursor: pointer;
    }

    &-icon {
        font-size: 2.4rem;
        color: $light-color;
        cursor: pointer;
        transform: rotate(0deg);
        transition: transform .4s ease-in-out;

        &.active {
            transform: rotate(90deg);
        }
    }

    &-list {
        transition: max-height .5s ease-in-out;
        max-height: 0px;
        overflow: hidden;
        &.active {
            max-height: 200px;
        }
    }

    &-menu {
        padding: 0.5rem 0;
    }
}