@import '../../scss/vars';

.dropDownNav {
    padding: 1rem 1rem 0 1rem;
    overflow: hidden;

    &-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        color: $black-color;
        font-family: $secondary-font;
        font-weight: 500;
        font-size: $normal-font-size;
        letter-spacing: 0.1rem;
    }

    &-icon {
        font-size: 2.4rem;
        color: $light-color;
        cursor: pointer;
        transform: rotate(0deg);
        transition: transform .4s ease-in-out;

        &.open {
            transform: rotate(90deg);
        }
    }

    &-item {      
        position: relative;
        overflow: hidden;
    }

    &-menu {
        position: absolute;
        transform: translateX(-100%);
        transition: transform .7s ease;      

        &.open {
            transform: translateX(0);             
            position: relative;                 
        }
    }
}