@import '../../scss/vars';
@import '../../scss/mixins';

.list {


    &__tour {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        border: 1px solid $light-color;
        border-radius: 0.8rem;
        padding: 1rem;
        margin: 2rem 0;

        &-img {
            width: 25%;
            min-height: 150px;
            object-fit: cover;
            border-radius: 0.8rem;

        }

        &-info {
            flex-basis: 60%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            text-align: left;
            margin-left: 1rem;
        }

        &-title {
            font-family: $secondary-font;
            color: $black-color;
            margin: 0.5rem 0;
        }

        &-rating {
            max-width: 100px;
        }

        &-descr {
            margin: 0.5rem 0;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }

        &-travelAttr {
            margin: 0.3rem 0;
            letter-spacing: .3px;
        }
    }
}