@import '../../scss/vars';

.login {
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: $blue-color;
    z-index: 1;


    &__wrapper {
        background-color: $white-color;
        border: 1px solid $light-color;
        padding: 3rem;
        border-radius: 0.8rem;
        width: 400px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        & span {
            margin-right: 1rem;
        }
    }

    & button.login__btn {
        background-color: $blue-color;
        color: $white-color;
    }

    & button.login__btn::disabled {
        background-color: red !important;
        cursor: not-allowed;
    }

    &__input {
        flex-basis: 70%;
    }

    &__bottom {
        & span {
            margin-right: 2rem;
        }
    }

    @media screen and (max-width: 768px) {
        &__wrapper {
            margin: 0 1rem;
        }

        &__bottom {
            font-size: 1.4rem;
            a {
                font-size: inherit;
            }
        }
    }
}