@import '../../scss/vars';
@import '../../scss/mixins';

.scroll-up {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  color: $white-color;
  cursor: pointer;
  animation: anim .5s forwards;
  background-color:rgb(63, 63, 144);
  z-index: 99999;
  @include btn-shadow;
}

@keyframes anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.7;
  }
}

.scroll-up:hover {
  opacity: 1 !important;
  transition: all .3s ease-in-out;
}