@import '../../scss/vars';

.scroll-up {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  color: $primary-color;
  cursor: pointer;
  animation: anim .5s forwards;
  z-index: 99999;
  -webkit-box-shadow: 0px 3px 7px -3px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.67);
}

@keyframes anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.7;
  }
}

.scroll-up:hover {
  opacity: 1 !important;
  transition: all .3s ease-in-out;
}