@import '../../scss/vars';

.subscribe {
    background-color: $blue-color;
    padding: 3rem 0;
    color:$light-color;

    &__subtitle {
        color:$light-color;
    }

    &__form {
        margin-top: 1rem;
        max-width: 20%;
        margin: auto;
    }

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    &__input {
        background-color:$white-color;
        border:none;
        outline: none;
        border-radius: 0.4rem;
        margin-right: 2rem;
    }

    & button {
        color:$white-color;
        font-weight: 300;     
    } 
}