@import '../../scss/vars';

/*========== Base Settings ==========*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// .swiper {
//     width: 100%;
//     height: 400px;
//     margin-left: auto;
//     margin-right: auto;
// }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev {
    left: 5%;
}

.swiper-button-next {
    right: 5%;
}

.swiper-button-next,
.swiper-button-prev {
    color: $white-color !important;

    &:after {
        font-size: 2rem !important;
        border: 0.2rem solid $white-color;
        opacity: .6;
        border-radius: 50%;
        padding: 0.7rem 1.2rem;
    }

    &:hover:after {
        opacity: 1;
    }
}


/*========== Header Slider ==========*/

.headerSlider {
    height: 100%;
    width: 100%;
}

.headerSlider-thumbs {
    height: 20%;
    width: 80%;
    border-radius: 2rem;
    padding: 1rem;
    top: -25vh;
    background-color: $white-color;
    -webkit-box-shadow: 0px 3px 7px -3px rgba(0, 0, 0, 0.67);
    box-shadow: 0px 7px 7px -3px rgba(0, 0, 0, 0.67);

}

.headerSlider-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    cursor: pointer;
    border-radius: 2rem;

    &:hover {
        -webkit-box-shadow: 0px 3px 7px -3px rgba(0, 0, 0, 0.67);
        box-shadow: 0px 7px 7px -3px rgba(0, 0, 0, 0.67);
        opacity: 1;
    }
}

.headerSlider-thumbs .swiper-slide img {
    border-radius: 2rem;
}

.headerSlider-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

/*========== Top Tours ==========*/

.toursItem {
    margin-bottom: 3rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    transition: .2s ease;
    border: 1px solid $light-color;
    cursor:auto;
    &:hover {
        -webkit-box-shadow: 0px 3px 7px -3px rgba(0, 0, 0, 0.67);
        box-shadow: 0px 3px 7px -3px rgba(0, 0, 0, 0.67);
    }

    &__img {       
        height: 180px;
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__title,
    &__subtitle {
        text-align: left;
    }

    &__title {
        font-size: 2.4rem;
        margin-top: 0.5rem;
    }

    &__subtitle {
        line-height: 2rem;
    }   

    &__inner {
        padding: 0 1rem;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
    }
}