@import '../../scss/vars';
@import '../../scss/mixins';


/*========== Base Settings ==========*/
.swiper {
    width: 100%;
    height: 100%;
    color: $white-color;

    &-button-prev {
        left: 5%;
    }

    &-button-next {
        right: 5%;
    }

    &-button-next,
    &-button-prev {
        color: $white-color !important;

        &:after {
            font-size: 2rem !important;
            border: 0.2rem solid $white-color;
            opacity: .6;
            border-radius: 50%;
            padding: 0.7rem 1.2rem;
        }

        &:hover:after {
            opacity: 1;
        }
    }

    &-slide {
        text-align: center;
        font-size: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        flex-direction: column;

        & img {
            position: absolute;
            z-index: -1;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }



        & .slide-title {
            position: relative;
            text-transform: uppercase;
            font-family: $primary-font;
            letter-spacing: 1rem;

            &:before,
            &:after {
                content: '';
                width: 40%;
                height: 0.5px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: $white-color;
            }

            &:before {
                left: -45%;
            }

            &:after {
                right: -45%;
            }
        }
    }
}


/*========== Header Slider ==========*/

.headerSlider {
    height: 100%;
    width: 100%;

    &-thumbs {
        height: 20%;
        width: 80%;
        border-radius: 2rem;
        padding: 1rem;
        top: -25vh;
        background-color:$light-color;
        // background-color: $white-color;
        // background-color: rgb(20, 108, 163, .2);
        // backdrop-filter: blur(2px);
    }

    &-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.5;
        cursor: pointer;
        border-radius: 2rem;

        &:hover {
            @include card-shadow;
            opacity: 1;
        }

        & img {
            border-radius: 2rem;
        }
    }

    &-thumbs .swiper-slide-thumb-active {
        opacity: 1;
    }
}



/*========== Top Tours ==========*/
.topToursSlider {

    & .swiper-button-prev,
    & .swiper-button-next {
        color: $black-color !important;

        &:after {
            opacity: 0;
            padding: 0.5rem 1rem;
            transition: opacity .2s ease-in-out;
            @include navigate-shadow;
        }

        &:hover:after {
            opacity: 1;
        }
    }

    &:hover {

        .swiper-button-prev:after,
        .swiper-button-next:after {
            opacity: 1 !important;

        }
    }

    & .swiper-button-prev {
        left: 2%;
    }

    & .swiper-button-next {
        right: 2%;
    }
}

.toursItem {
    margin-bottom: 3rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    transition: .2s ease;
    border: 1px solid $light-color;
    cursor: auto;

    &:hover {
        @include card-shadow;
    }

    &__img {
        height: 180px;
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__title,
    &__subtitle {
        text-align: left;
    }

    &__title {
        font-size: 2.4rem;
        margin-top: 0.5rem;
        color: $black-color;
    }

    &__subtitle {
        line-height: 2rem;
    }

    &__inner {
        padding: 0 1rem;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
    }
}