@import '../../scss/vars';

.whyRTours {
    background-color: $light-color;
    background-color: $blue-color;
    color: $white-color;
    padding: 2rem 0 3rem 0;

    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        flex-basis: 25%;

        &-icon {
            width: 50px;
            height: 50px;

            &:last-child {
                fill: red;
            }
        }

        &-title {
            color: $light-color;
            margin-top: 1rem;
        }

        &-text {
            line-height: 2.2rem;
            max-width: 90%;
            margin: 1rem auto;
            color: $light-color;
        }
    }

    @media screen and (max-width:1024px) {  
        & {
            padding: 2rem 0 1rem 0; 
        }
        &__item {    
            flex-basis: 50%;
            margin-bottom: 2rem;
            &-text {
                max-width: 60%;
            }
               
           
        }
      }

    @media screen and (max-width: 768px) {   
        & {
            padding: 2rem 0 1rem 0; 
        }
        &__wrapper {
            justify-content: center;
            align-items:center;
            flex-direction: column;
        }     
        &__item {    
            &:first-child {
                margin-top: 1rem;
            }     
            &-text {
                max-width: 80%;
            }             
        }
      }

}