@import '../../scss/vars';

.filters {
    background-image: linear-gradient(to bottom, #146ca3, #16618f, #19567c, #1c4c69, #1e4157);
    height: 100%;
    border-radius:0.8rem;
    color:$white-color;

    &__title {
        border-bottom: 1px solid $light-color;
        border-radius: 0.8rem 0.8rem 0 0;
        background-color: $blue-color;
        color: $white-color;
        font-size:$h3-font-size;
        letter-spacing: 0.3rem;        
    }

    &-input {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0.7rem;

        & label {
            font-size: 1.6rem;
            font-weight: 300;            
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 0.8rem;
            cursor: pointer;

            & img {
                width: 100px;
            }
        }

        & label span {
            font-size: 1.3rem;
            color: #a29e9e;
            margin-left: 0.5rem;
        }

        & input[type="checkbox"] {
            -webkit-appearance: none;
            appearance: none;
            width: 1.6rem;
            height: 1.6rem;
            margin-top: 0.4rem;
            border-radius: 50%;
            border: 1px solid $light-color;
            outline: none;
            cursor: pointer;
        }

        & input[type="checkbox"]:disabled {
            border-color: #c0c0c0;
            background-color: #c0c0c0;
        }

        & input[type="checkbox"]:disabled+span {
            color: #c0c0c0;
        }

        //   & input[type="checkbox"]:focus {
        //     border: 1px solid $blue-color;
        //   }

        input:checked {
            position: relative;
        }

        input:checked::before {
            content: "\2714";
            font-size: 1.6rem;
            font-weight: 700;
            color: $white-color;
            position: absolute;
            right: 1px;
            top: -5px;
        }
    }
}