@import '../../scss/vars';

.filters {
    &__title {
        border-bottom: 1px solid $light-color;
        border-radius: 0.8rem 0.8rem 0 0;
        background-color: $blue-color;
        color: $white-color;
        font-size:$h3-font-size;
        letter-spacing: 0.3rem;
    }

    &__dropdown {
        padding: 1rem 1rem 0 1rem;
        overflow: hidden;

        &-title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-content: center;
            color: $black-color;
            font-family: $secondary-font;
            font-weight: 500;
            font-size: $normal-font-size; 
        }

        &-icon {
            font-size: 2.4rem;
            color: $light-color;
            cursor: pointer;
            transform: rotate(0deg);
            transition: transform .4s ease-in-out ;

            &.open {
                transform: rotate(180deg);
            }
        }

        &-item {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            transform: translateX(-100%);
            opacity: 0;
           
            position: absolute;
            transition: transform .4s ease; 
            z-index: -1;           

            &.open {
                transform: translateX(0);
                opacity: 1;
                position: relative;
                z-index: 1;
            }
        }

        &-input {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 0.7rem;

            & label {
                font-size: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 0.8rem;

                & img {
                    width: 100px;
                }
            }

            & label span {
                font-size: 1.3rem;
                color: #a29e9e;
                margin-left: 0.5rem;
            }

            & input[type="checkbox"] {
                -webkit-appearance: none;
                appearance: none;
                width: 1.6rem;
                height: 1.6rem;
                margin-top: 0.4rem;
                border-radius: 50%;
                border: 1px solid $light-color;
                outline: none;
                cursor: pointer;
            }

            & input[type="checkbox"]:disabled {
                border-color: #c0c0c0;
                background-color: #c0c0c0;
            }

            & input[type="checkbox"]:disabled+span {
                color: #c0c0c0;
            }

            //   & input[type="checkbox"]:focus {
            //     border: 1px solid $blue-color;
            //   }

            input:checked {
                position: relative;
            }

            input:checked::before {
                content: "\2714";
                font-size: 1.6rem;
                font-weight: 700;
                color: $blue-color;
                position: absolute;
                right: 1px;
                top: -5px;
            }
        }
    }



    &__selected {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        margin: 1rem;

        &-item {
            margin-right: 1rem;
            border: 1px solid $light-color;
            border-radius: 0.8rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 1.5rem;
        }

        &-name,
        &-value {
            margin-right: 0.2rem;
        }

        &-name:after {
            content: ':';
        }

        &-removeBtn {
            display: flex;
            align-items: center;
            padding: 0.2rem;
            border: 1px solid $light-color;
            border-radius: 50%;
            justify-content: center;
            margin-left: 0.5rem;
            cursor: pointer;
            opacity: .6;

            &:hover {
                opacity: 1;
            }
        }

        &-clearAll {
            cursor: pointer;
            padding: 0.5rem 1rem;
            border-radius: 0.8rem;
            transition: .2s ease;

            &:hover {
                -webkit-box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.67);
                box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.67);
            }
        }
    }
}