@import '../../scss/vars';

.users {
    color: $primary-color;
    margin: 2rem;

    &__filters {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2rem;

        &-item {
            & input {
                width: 300px;
                padding: 0.5rem;
            }

            & select {
                padding: 0.5rem;
                color: $black-color;
            }

            &:not(:first-child) {
                margin-left: 2rem;
            }
        }
    }

    &__list {
        display: flex;
        justify-content: flex-start;
        border-radius: 0.8rem;
    }
   

    &__item {
        width: 100%;
        border: 1px solid $light-color;

        &:not(:last-child) {
            border-right: 0;
        }

        &-title {
            padding: 0.5rem 1rem;
            border-bottom: 1px solid $light-color;
        }

        &:first-child {
            border-top-left-radius: 0.8rem;
            border-bottom-left-radius: 0.8rem;
        }

        &:last-child {
            border-top-right-radius: 0.8rem;
            border-bottom-right-radius: 0.8rem;
        }
    }

    &__info {
        text-align: left;

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            padding: 1rem;

            & img:not(:last-child){
                margin-right: 1.5rem;
            }

            &:not(:last-child) {
                border-bottom: 1px solid $light-color;
            }

            & span {
                border: 1px solid $light-color;
            }

            & img {
                width: 25px;
                opacity: .8;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }

          
        }
    }
}