@import '../../scss/vars';
@import '../../scss/mixins';

.navbar {
    width: 100%;
    height: $nav-height;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: $primary-font;
    color: $white-color;
    transition: height .3s ease-in-out;

    &__link {
        color: inherit;
        font-size: $normal-font-size;
        letter-spacing: 0.2rem;
        font-weight: 300;
        display: flex;
        align-items: center;
    }

    &__logo {
        max-width: 90px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 3rem;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        padding: 0.7rem;
        transition: all .4s ease-in-out;
    }

    &__user-icon {
        margin-right: 1rem;
        border: 1px solid $white-color;
        padding: 0.3rem;
        font-size: 2.5rem;
        border-radius: 50%;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item:not(:first-child) {
        margin-left: 1.5rem;
    }

    &__item {
        position: relative;
        text-transform: capitalize;

        &:before,
        &:after {
            content: '';            
            bottom: -30%;
            width: 0;
            height: 1px;
            position: absolute;
            background-color: $white-color;
            transition: all .2s ease-in-out;
        }

        &:before {
            right: 0;
        }
        &:after {
            left: 0;
        }

        &:hover {
            &:before {
                width: 50%;
            }
            &:after {
                width: 50%;
            }
        }
          
        & a.active:before,
        & a.active:after {
            content: '';
            position: absolute;
            top: 125%;
            width: 0;
            height: 1px;
            background-color: $white-color;
            transition: all .2s ease-in-out;
        }

        & a.active::before {
            left: 0;
        }

        & a.active::after {
            right: 0;
        }

        & a.active:before,
        & a.active:after {
            width: 50%;
        }
    }

    .dropdown {
        position: relative;
        z-index: 4;

        &:hover {
            .dropdown__list {
                opacity: 1;
                pointer-events: all;
                transition: opacity .4s ease-in-out;
            }
        }

        &__trigger {
            overflow: hidden;
            cursor: pointer;
            color: white;
            display: flex;
            align-items: center;
            padding: 3rem 0;
        }

        &__list {
            position: absolute;
            top: 7rem;
            left: -2rem;
            background-color: $white-color;
            border-radius: 0.8rem;
            padding: 1rem 2rem;
            width: 200px;
            color: $black-color;
            opacity: 0;
            pointer-events: none;
            @include btn-shadow;          
        }

        &__title {
            text-align: center;
            padding: 1rem 0;
            font-size: $normal-font-size;

            & span {
                font-weight: 500;
                font-family: $secondary-font;
            }
        }

        &__item {
            display: flex;
            align-items: center;
            padding: 1rem 0;
            border-top: 1px solid rgba(0, 0, 0, 0.05);

            & a {
                letter-spacing: normal;
                font-size: 1.3rem;
                font-weight: 400;
            }

            &:hover a {
                color: $black-color;
                cursor: pointer;
            }

            &:hover img {
                opacity: 1;
                cursor: pointer;
            }

            & img {
                max-width: 2rem;
                margin-right: 1rem;
                opacity: 0.5;
                transition: 0.5s;
            }
        }
    }



    &.sticky {
        height: calc($nav-height * 0.8);
        background-color: rgba(0, 0, 0, 0.4);

        .navbar__logo {
            max-width: 70px;
            padding: 0.5rem;
            margin-top: 2rem;
        }
    }
}