@import '../../scss/vars';
@import '../../scss/mixins';

.search {
    position: absolute;
    bottom: 25vh;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    padding: 1rem 4rem;
    border-radius: 0.8rem;
    background-color: rgb(20, 108, 163, .2);
    backdrop-filter: blur(2px);

    z-index: 99999999999999999;


    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        width: 300px;
        position: relative;

        & input {
            background-color: inherit !important;

            &::placeholder {
                color: $light-color !important;
            }
        }

        &:not(:last-child) {
            margin-right: 5rem;
        }
    }

    &__calendar {
        position: absolute;
        left: -50%;
        bottom: 150%;
        z-index: 9999;
    }

    &__btn {
        background-color: $white-color !important;
    }
}

.rdrDateDisplayWrapper,
.rdrCalendarWrapper {
    background-color: rgb(20, 108, 163, .3);

    border-radius: .8rem;
    font-size: 1.3rem;
}

.rdrCalendarWrapper {
    background-color: rgb(20, 108, 163, .8);
    backdrop-filter: blur(12px);
}

.rdrDateInput {
    border-radius: 0.8rem;

    & input {
        border: none !important;
    }
}

.rdrNextPrevButton,
.rdrPprevButton {
    position: absolute;
    top: 0;
}

.rdrNextPrevButton {
    right: 0;
}

.rdrPprevButton {
    left: 0;
}

.rdrMonthAndYearWrapper {
    height: 0;
    padding-top: 2rem;
    position: relative;
}

.rdrMonthPicker,
.rdrYearPicker {
    display: none;
}

.rdrMonthAndYearPickers select {
    background-color: $white-color !important;
}

.rdrMonthName,
.rdrWeekDay {
    color: $light-color;
}

.rdrDayNumber span {
    color: $white-color;
}

.rdrDayPassive span {
    opacity: .7;
}