@import '../../scss/vars';
@import '../../scss/mixins';

.search {
    margin-top: 3rem;
    position: relative;
    padding: 1rem 4rem;
    background-color: $blue-color;
    z-index: 9999;


    &__wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid $light-color;
        border-radius: 0.8rem;

        &-title {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.5rem;
            color: $light-color;

            & h3 {
                color: $light-color;
                margin-left: 1rem;
            }
        }
    }

    &__item {
        width: 300px;
        position: relative;

        &:not(:last-child) {
            margin-right: 5rem;
        }

        &-close {
            right: -310px;
            bottom: 420px;
            position: absolute;
            z-index: 99999;
            cursor: pointer;
            font-size: 2.5rem;
            background-color: $light-color;
            border-radius: 50%;
            padding: 0rem 1rem 0.6rem 1rem;

            &:hover {
                background-color: $white-color;
            }

        }
    }

    &__select {       
        color:#636c72;

        & option {
            color:$primary-color;
        }
    }

    &__error {
        width: 100%;
        color: red;
        position: absolute;
        background-color:$white-color;
        border-radius:0.8rem;
        padding: 0.2rem 0.5rem;
        bottom: -35px;     
        font-size: $normal-font-size;
    }

    &__calendar {
        position: absolute;
        left: -50%;
        bottom: 150%;
        z-index: 9999;
    }

    &__btn {
        background-color: $white-color !important;
    }

    .rdrDateDisplayWrapper,
    .rdrCalendarWrapper {
        background-color: rgb(20, 108, 163, .3);
        background-color: $blue-color;
        border-radius: .8rem;
        font-size: 1.3rem;
    }

    .rdrCalendarWrapper {
        background-color: $blue-color;
    }

    .rdrDateInput {
        border-radius: 0.8rem;

        & input {
            border: none !important;
        }
    }

    .rdrNextPrevButton,
    .rdrPprevButton {
        position: absolute;
        top: 0;
    }

    .rdrNextPrevButton {
        right: 0;
    }

    .rdrPprevButton {
        left: 0;
    }

    .rdrMonthAndYearWrapper {
        height: 0;
        padding-top: 2rem;
        position: relative;
    }

    .rdrMonthPicker,
    .rdrYearPicker {
        display: none;
    }

    .rdrMonthAndYearPickers select {
        background-color: $white-color !important;
    }

    .rdrMonthName,
    .rdrWeekDay {
        color: $light-color;
    }

    .rdrDayNumber span {
        color: $white-color;
    }

    .rdrDayPassive span {
        opacity: .7;
    }
}