@import './vars';

* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}

html,
body,
#root {
    height: 100%;
}

html {
    font-size: 10px;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}