
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
$nav-height: 6rem;

/*========== Colors ==========*/
$primary-color: #555;
$secondary-color: rgb(133, 127, 127);
$light-color: #cecece;
$black-color:#070A10;
$white-color:#fff;
$bg-color:#070A10;

/*========== Font and typography ==========*/
/*.5rem = 5px | 1rem = 10px ...*/
$primary-font: 'Lato', sans-serif;
$secondary-font:'Poppins', sans-serif;

$normal-font-size: 1.6rem;

$h1-font-size: 5.2rem;
$h2-font-size: 3.2rem;
$h3-font-size: 2rem;
$h4-font-size: 1.3rem;

/*========== Font weight ==========*/
